</main>
<footer>
    Bajai SZC Türr István Technikum - Kecskés Zsolt István / Auer Zoltán
</footer>
</div>
<script src="../assets/js/fullcalendar.min.js"></script>
<script src="../assets/js/chart.js"></script>
</body>
</html>